html {
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #000000;
    /* overflow: hidden; */
    width: 100vw;
    position: fixed;


}

#page {
    display: block;
    position: relative;
    width: 102vw;
    height: 100vh;
    overflow: hidden;
    left: -1vw;
    top: -1vw;
    margin-left:-1vw;
}
.info{
    z-index: 10000;
    /* position: absolute; */
    color:white;
    margin-left:15vw;
    font-size:6vw;
}

#flickInfo{
    position: absolute;
    /* opacity: 0; */
}

#flickGif{
    position: absolute;
    width:40vw;
    top:20vh;
    left:30vw;
}

#flickText{
    width:100vw;
    text-align: center;
    color: white;
    position: absolute;
    top:50vh;
    font-weight: 300;
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
}

#popup{
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 00, 0.8);
    z-index:6969;
    position: absolute;
}

#popupIcon{
    width:30vw;
    left:35vw;
    top:69vh;
    /* top:10vh; */
    position: absolute;
}

#popupTitle{
    position: absolute;
    color:white;
    font-size:7vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:100vw;
    top:40vh;
}
#popupGraphic{
    width:50vw;
    left:25vw;
    top:10vh;
    position: absolute;
}
#popupSubtitle{
    position: absolute;
    color:white;
    font-size:4vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:100vw;
    top:60vh;
}

#chatParent{
    /* border: 3px solid red; */
    width:100vw;
    height:70vh;
    margin-top:10vh;
}

.chatElement{
    position: absolute;
    /* overflow: scroll; */
    /* border: 1px solid red; */
    width:100vw;
    height:70vh;
    left:7vw;
}

#qMark{
    position: absolute;
    width:12vw;
    top:2.5vw;
    left:2vw;
    z-index: 500;
}



#msgs {
    display: block;
    position: relative;
    width: 80vw;
    height: 50vh;
    top: 10vh;
    overflow: scroll;
    margin: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* right:50vw; */
}

#dial {
    display: block;
    position: absolute;
    width: 150vw;
    height: 150vw;
    top: 55vh;
    left: -25.25vw;
    overflow: hidden;
    -webkit-transform-origin: 50% 50%;

}

.pip{
    display: block;
    position: absolute;
    width:150vw;
    height: 150vw;
    top:55vh;
    left: -25.25vw;
    overflow: hidden;
    z-index: 100;
    /* transform: rotate(55deg); */
}

#dialParent {
    width: 150vw;
    height: auto;
    top: 55vh;
    left: -27vw;
    /* overflow: hidden; */
}

#pipParent{
        width: 150vw;
        height: auto;
        top: 55vh;
        left: -27vw;
        overflow: hidden;
        pointer-events: none;
        /* border:1px solid red; */
        /* position: absolute; */
    
}



#buttonEmpty {
    display: block;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 34vw;
    top: 69vh;
    overflow: hidden;
    z-index: 101;

    /* display: none; */

}
#buttonLoaded {
    display: block;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 35.25vw;
    top: 69vh;
    overflow: hidden;
    z-index: 101;


}

#buttonModeOpen{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#buttonModeEmpty{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#buttonModeLoaded{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#editButton{
    width: 10vw;
    position: absolute;
    right:7vw;
    top:57vh;
}

#buttonOpen{
    position: absolute;
    width:18vw;
    height:auto;
    bottom:0.05vh;
    right:2.5vw;
}

#openBackground{
    position: absolute;
    width:101vw;
    height:10vh;
    background-color: #333333;
    top:77vh;
    
}

#openTextbox{
    width:70vw;
    height:6vh;
    
    /* background-color: #070606; */
    color:white;
    font-size:5vw;
    border-radius: 5vw;
    margin-left: 3vw;
    margin-top:1vh;
    padding-left: 5vw;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.tbBlack{
    background-color: #070606;
    border:2px solid white;
}

.tbRed{
    background-color: #F74C4C;
    border:none;
}

.message {
    display: block;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 5vw;
    font-weight: 100;
    width: 60vw;
    /* bottom: 0px; */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-style: solid;
    border-width: 0.3vw;
    border-radius: 4vw;
    margin-top: 4vw;
}

.sent {
    display: block;
    position: relative;
    margin-left: 9vw;
    border-color: #F74C4C;
}

.receive {
    border-color: #5DCAE9;
}