html {
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #000000;
    /* overflow: hidden; */
    width: 100vw;
    position: fixed;


}

#page {
    display: block;
    position: relative;
    width: 102vw;
    height: 100vh;
    overflow: hidden;
    left: -1vw;
    top: -1vw;
    margin-left:-1vw;
}

#chatParent{
    /* border: 3px solid red; */
    width:100vw;
    height:70vh;
}

.chatElement{
    position: absolute;
    overflow: scroll;
    /* border: 1px solid red; */
    width:100vw;
    height:70vh;
    left:7vw;
}

#qMark{
    position: absolute;
    width:12vw;
    top:2.5vw;
    left:2vw;
}



#msgs {
    display: block;
    position: relative;
    width: 80vw;
    height: 50vh;
    top: 10vh;
    overflow: scroll;
    margin: auto;
    /* right:50vw; */
}

#dial {
    display: block;
    position: absolute;
    width: 150vw;
    height: auto;
    top: 55vh;
    left: -25.25vw;
    overflow: hidden;

}

#dialParent {
    width: 150vw;
    height: auto;
    top: 55vh;
    left: -27vw;
    /* overflow: hidden; */
}

#pipParent{
        width: 150vw;
        height: auto;
        top: 55vh;
        left: -27vw;
        overflow: hidden;
        /* border:1px solid red; */
        /* position: absolute; */
    
}

.pip{
    /* display: block; */
    position: absolute;
    width:150vw;
    height: auto;
    top:55vh;
    left:-27vw;
    overflow: hidden;
    z-index: 100;
    /* transform: rotate(55deg); */
}

#buttonEmpty {
    display: block;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 35.25vw;
    top: 69vh;
    overflow: hidden;
    /* display: none; */

}
#buttonLoaded {
    display: block;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 35.25vw;
    top: 69vh;
    overflow: hidden;

}

#editButton{
    width: 10vw;
    position: absolute;
    right:7vw;
    top:57vh;
}

#buttonOpen{
    position: absolute;
    width:18vw;
    height:auto;
    bottom:0.05vh;
    right:2.5vw;
}

#openBackground{
    position: absolute;
    width:101vw;
    height:10vh;
    background-color: #333333;
    top:77vh;
    
}

#openTextbox{
    width:70vw;
    height:4vh;
    border:2px solid white;
    background-color: #070606;
    color:white;
    font-size:5vw;
    border-radius: 5vw;
    margin-left: 2vw;
    margin-top:1vh;
    padding-left: 5vw;
}

.message {
    display: block;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 5vw;
    font-weight: 100;
    width: 60vw;
    /* bottom: 0px; */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-style: solid;
    border-width: 0.3vw;
    border-radius: 4vw;
    margin-top: 4vw;
}

.sent {
    display: block;
    position: relative;
    margin-left: 9vw;
    border-color: #F74C4C;
}

.receive {
    border-color: #5DCAE9;
}